@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  user-select: none;
  cursor: default;
  overscroll-behavior: none; /* Disable pull-to-refresh and overscroll glow effect on Safai */
}

.button-loader {
  overflow: hidden;
  position: relative;
}

.button-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 20px
  );
  animation: load 1s infinite linear;
}

.button__text {
  position: relative;
}

/* Loading button animation */
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: white;
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-prev {
  left: 20px !important;
}

/* Swiper Pagination Dots */
.swiper-pagination-bullet {
  opacity: 0.5;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 0.5;
  background-color: white !important; /* bg-gray-800 */
}